<configuration>
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="my-app"/>

    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeContext>true</includeContext>
            <customFields>{"app_name":"${appName}"}</customFields>
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <version>[ignore]</version> <!-- Logback version field -->
                <level>level</level>
                <levelValue>[ignore]</levelValue> <!-- Spring Boot adds its own level value -->
                <thread>thread</thread>
                <logger>logger</logger>
                <message>message</message>
                <stackTrace>stack_trace</stackTrace>
            </fieldNames>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE_JSON" />
    </root>

    <!-- Quieter logging for less important packages -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>

</configuration> 